<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat Simulator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            var user = '<%= user %>'
         </script>
        <script src="../public/js/chat.js" defer></script>
        <link rel="stylesheet" href="../public/css/style copy.css">
    </head>
    <body>
        <article>
            <div class="left">
                <div class="chat" id="chat">
                    <br id="containerbar">
                </div>
                <div class="chatupload">
                    <form>
                        <input type="text" name="chatbox" class="chatbox" id="chatbox" placeholder="Chat..."><br>
                        <input type="button" name="upload" id="upload" value="Upload">
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="usernames">
                    <p>Users:</p>
                    <ul class="list-group">
                        <%data.forEach((item)=>{%>
                        <li class="list-group-item"> <%=item.username%></li>
                        <%});%>
                    </ul>
                </div>
                <div class="logoutbox">
                    <p><%= user %></p>
                    <form action="/logout" method = "post">
                        <input type="submit" name="logout" value="Logout">
                    </form>
                </div>
            </div>
        </article>
    </body>
</html>