<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cacaphony</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <h1>Cacaphony Chat</h1>
        <article>
            <div class="login">
                <p>Login to your account</p>
                <form action="/loginaccount" method = "get">
                    <input type="text" name="username" placeholder="Username..."><br>
                    <input type="password" name="password" placeholder="Password..."><br>
                    <input type="submit" value="Login">
                </form>
                <p>Don't have an account?</p>
                <a href="/create_account">Create one today.</i></a>
            </div>
        </article>
    </body>
</html>