body {
  background-color: #282c34;
  color: #d8e5ff;
  text-align: center;
  font-family: "Lato", 'Noto Sans', Helvetica, Arial, sans-serif;
  src: url(../fonts/Lato-Regular.ttf);
  font-size: 18px;
}

h1 {
  font-size: 50px;
  margin-top: 5%;
}

div {
  background-color: #1a1d26;
  display: inline-block;
  padding: 20px;
}

.login {
  width: 400px;
}

.logoutbox input,
input {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  color: #d8e5ff;
  background-color: #282c34;
  border: 1px solid #61dafb;
  margin-top: 10px;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: #61dafb;
  cursor: pointer;
}

a {
  color: #61dafb;
  text-decoration: none;
}

.left {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 70%;
  height: 100%;
  left: 0;
  top: 0;
}

.chat {
  padding: 20px;
  margin: 10px;
  width: 90%;
  height: 80%;
  right: 0;
  top: 0;
  background-color: #1a1d26;
  display: flex;
  flex-direction: column;
}

.chat > p,
.usernames > li,
.usernames > ul {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.chatupload {
  bottom: 0;
  margin: 0;
  padding: 0;
  max-width: 800px;
  width: 100%;
}

.right {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 30%;
  height: 100%;
  right: 0;
  top: 0;
}

.usernames {
  padding: 0;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 80%;
  left: 0;
  top: 0;
  background-color: #1a1d26;
  display: flex;
  flex-direction: column;
}

.logoutbox {
  bottom: 0;
  margin: 0;
  padding: 0;
}
