body {
  background-color: rgb(12,12,15);
  color: rgb(214,238,255);
  text-align: center;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  src: url(../fonts/Lato-Regular.ttf);
  font-size: 20px;
}

h1 {
  font-size: 60px;
  margin-top: 10%;
}

div {
  background-color: rgb(22,24,33);
  display: inline-block;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.login{
  width: 500px;
}

input{
  font-size: 20px;
  padding: 10px;
  color: rgb(214,238,255);
  background-color: rgb(12,12,15);
  border: 0px;
}

input[type=text], input[type=password]{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 75%;
}

input[type=submit]{
  width: 25%;
  padding: 10px;
  background-color: rgb(42,46,63);
  cursor: pointer;
}

a {
  color: rgb(61,144,198);
  text-decoration: none;
}

.left {
  position: absolute;
  padding: 0%;
  margin: 0%;
  width: 75%;
  height: 100%; 
  left: 0;
  top: 0;
}

.chat{
  padding: 0%;
  margin: 10px;
  width: 98%;
  height: 80%; 
  right: 0;
  top: 0;
  background-color: rgb(12,12,15);
  display: flex;
  flex-direction: column;
}

.chat > p, .usernames > li, .usernames > ul{
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.chatupload{
  bottom: 0;
  margin: 0%;
  padding: 0%;
  max-width: 1200px;
  width: 200%;
}

.right {
  position: absolute;
  padding: 0%;
  margin: 0%;
  width: 25%;
  height: 100%; 
  right: 0;
  top: 0;
}

.usernames {
  padding: 0%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 98%;
  height: 80%; 
  left: 0;
  top: 0;
  background-color: rgb(12,12,15);
  display: flex;
  flex-direction: column;
}

.logout {
    bottom: 0;
    margin: 0%;
    padding: 0%;
}

.logout > input{
  width: 75%;
  font-size: 20px;
  padding: 10px;
  color: rgb(214,238,255);
  background-color: rgb(12,12,15);
  border: 0px;
}